<a href="https://colab.research.google.com/github/kicysh/final_task_of_world_model_lecture_2021/blob/main/qb_cbt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat /proc/uptime | awk '{print $1 /60 /60 /24 "days (" $1 / 60 / 60 "h)"}'

0.0022037days (0.0528889h)

In [ ]:
import pandas as pd
from google.colab import files
from google_drive_downloader import GoogleDriveDownloader
import google.colab.drive
import google.colab
import googleapiclient.discovery
import googleapiclient.http
 
import datetime
 
google.colab.auth.authenticate_user()
drive_service = googleapiclient.discovery.build('drive', 'v3')
google.colab.drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [ ]:
def answer_section2(df, df_index, columns_list,ans_date=True):
    flag = False
    date_flag = False
    if ans_date: date_flag = True
    for index in range(len(df_index)):
        if (index+1)%5 == 0:
            df.to_csv('tmp.csv',index=False)
        input_line = input('num: {}\tcol:{}\t  '.format(df_index[index]+1, columns_list))
        # quit
        if 'q' in input_line:
            flag = True
            break
        # back
        if 'b' in input_line:
            if index<=0:
               pass
            else:
                back_input_line = input('num: {}\tcol:{}\t  '.format(df_index[index-1]+1, columns_list))
                for num in range(min(len(back_input_line),len(columns_list))):
                    s, col = input_line[num], columns_list[num]
                    if s == 'y': 
                        df.loc[df_index[index-1], col] = 1
                        df.loc[df_index[index-1], col+'_date'] = datetime.date.today().strftime('%Y/%m/%d')
                    elif s == 'n': 
                        df.loc[df_index[index-1], col] = 0
                        df.loc[df_index[index-1], col+'_date'] = datetime.date.today().strftime('%Y/%m/%d')
                input_line = input('num: {}\tcol:{}\t  '.format(df_index[index]+1, columns_list))
                # back: quit
                if 'q' in input_line:
                    flag = True
                    break
        for num in range(min(len(input_line),len(columns_list))):
            s, col = input_line[num], columns_list[num]
            if s == 'y': 
                df.loc[df_index[index], col] = 1
                df.loc[df_index[index], col+'_date'] = datetime.date.today().strftime('%Y/%m/%d')
            elif s == 'n': 
                df.loc[df_index[index], col] = 0
                df.loc[df_index[index], col+'_date'] = datetime.date.today().strftime('%Y/%m/%d')
    return df

In [ ]:
!cp '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv' '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv.bk'
!cp '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv' '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv.bk'
!cp '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv' '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv.bk'

# 初期化

In [ ]:
df_tmp = pd.DataFrame(columns=['id', 'ans_1','ans_1_date', 'ans_2','ans_2_date','check', 'tag'])
df_tmp.to_csv('tmp.csv',index=False)
!cp  tmp.csv '/content/gdrive/My Drive/cbt/test.csv'

In [ ]:
df_tmp.id = [i for i in range(1,791)]
df_tmp.to_csv('tmp.csv',index=False)
#!cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv'

# Tag

## Tag: val_1

In [ ]:
df = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv')
df.loc[df[(df.id <=81)].index, 'tag'] = 'A' 
df.loc[df[(df.id >= 82) & (df.id <=203)].index, 'tag'] = 'B' 
df.loc[df[(df.id >= 204) & (df.id <=534)].index, 'tag'] = '生命現象' 
df.loc[df[(df.id >= 535) & (df.id <=728)].index, 'tag'] = '個体反応' 
df.loc[df[(df.id >= 729)].index, 'tag'] = '病態' 

df.loc[df[(df.id <= 81)].index, 'category'] = 'A' 
df.loc[df[(df.id >= 82) & (df.id <=203)].index, 'category'] = 'B' 
df.loc[df[(df.id >= 204)].index, 'category'] = 'C' 
df.to_csv('tmp.csv',index=False)
!cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv'

## Tag: vol_2

In [ ]:
# vol_2
df = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv')
df.loc[df[(df.id >= 1) & (df.id <=54)].index, 'tag'] = '血液' 
df.loc[df[(df.id >= 55) & (df.id <=213)].index, 'tag'] = '神経' 
df.loc[df[(df.id >= 214) & (df.id <=273)].index, 'tag'] = '皮膚'
df.loc[df[(df.id >= 274) & (df.id <=347)].index, 'tag'] = '運動器'
df.loc[df[(df.id >= 348) & (df.id <=462)].index, 'tag'] = '循環器'
df.loc[df[(df.id >= 463) & (df.id <=533)].index, 'tag'] = '呼吸器'
df.loc[df[(df.id >= 534) & (df.id <=652)].index, 'tag'] = '消化器'
df.loc[df[(df.id >= 653) & (df.id <=725)].index, 'tag'] = '腎'
df.loc[df[(df.id >= 726) & (df.id <=792)].index, 'tag'] = '生殖器'
df.loc[df[(df.id >= 793) & (df.id <=845)].index, 'tag'] = '妊娠'
df.loc[df[(df.id >= 846)].index, 'tag'] = '乳房'

df['category'] = 'D' 

df.to_csv('tmp.csv',index=False)
!cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv'

## Tag:vol_3

In [ ]:
# vol_3
df = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv')
df.loc[df[(df.id >= 1) & (df.id <=67)].index, 'tag'] = '内分泌' 
df.loc[df[(df.id >= 68) & (df.id <=121)].index, 'tag'] = '眼' 
df.loc[df[(df.id >= 122) & (df.id <=178)].index, 'tag'] = '耳鼻咽喉'
df.loc[df[(df.id >= 179) & (df.id <=218)].index, 'tag'] = '精神'
df.loc[df[(df.id >= 219) & (df.id <=310)].index, 'tag'] = '感染症'
df.loc[df[(df.id >= 311) & (df.id <=348)].index, 'tag'] = '腫瘍'
df.loc[df[(df.id >= 349) & (df.id <=391)].index, 'tag'] = '免疫'
df.loc[df[(df.id >= 392) & (df.id <=419)].index, 'tag'] = '物理化学'
df.loc[df[(df.id >= 420) & (df.id <=470)].index, 'tag'] = '成長発達'
df.loc[df[(df.id >= 471) & (df.id <=486)].index, 'tag'] = '加齢老化'
df.loc[df[(df.id >= 487) & (df.id <=509)].index, 'tag'] = '人の死'
df.loc[df[(df.id >= 510) & (df.id <=572)].index, 'tag'] = '症候病態'
df.loc[df[(df.id >= 573) & (df.id <=756)].index, 'tag'] = '診療知識'
df.loc[df[(df.id >= 757)].index, 'tag'] = '診療技法'

df.loc[df[(df.id <=218)].index, 'category'] = 'D'
df.loc[df[(df.id >= 219) & (df.id <=509)].index, 'category'] = 'E'
df.loc[df[(df.id >= 510)].index, 'category'] = 'F'

df.to_csv('tmp.csv',index=False)
!cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv'

# ファイルの読み込み

In [ ]:
#df = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv')
#df = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv')
path  = '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv' 
df = pd.read_csv(path)
df.head(5)

   id  ans_1  ans_1_date  check  ...  ans_2_date  check_date  ans_3  ans_3_date
0   1    1.0  2020/11/03    1.0  ...  2020/12/19  2020/12/19    1.0  2021/01/06
1   2    0.0  2020/11/03    1.0  ...  2020/12/19  2020/12/19    0.0  2021/01/06
2   3    1.0  2020/11/03    0.0  ...  2020/12/19         NaN    1.0  2021/01/06
3   4    0.0  2020/11/03    0.0  ...  2020/12/19         NaN    1.0  2021/01/06
4   5    1.0  2020/11/03    1.0  ...  2020/12/19  2020/12/19    1.0  2021/01/06

[5 rows x 11 columns]

# df_index

In [ ]:
# ans_1 がないところ
df_index = df[df['ans_1'].isnull()].index
#df['check']
df_index

Int64Index([], dtype='int64')

# answer_section()
- (y)es
- (n)o
- (s)kip
- (q)uit
- (b)ack

In [ ]:
# ans_1 がないところ
#col_list = ['ans_2','check']
col_list = ['ans_3']
#df_index = df[df[col_list[0]].isnull() & (df['category']=='C')].index
#df_index = df[df.id>=602].index
df_index = df[df.ans_3.isnull()].index
print(df_index[0:5])
print(len(df_index))

Int64Index([682, 683, 684, 685, 686], dtype='int64')
181

In [ ]:
df = answer_section2(df, df_index, col_list)

num: 683	col:['ans_3']	  y
num: 684	col:['ans_3']	  y
num: 685	col:['ans_3']	  y
num: 686	col:['ans_3']	  y
num: 687	col:['ans_3']	  y
num: 688	col:['ans_3']	  y
num: 689	col:['ans_3']	  y
num: 690	col:['ans_3']	  n
num: 691	col:['ans_3']	  q

# 保存

In [ ]:
df.to_csv('tmp.csv',index=False)
 
if path == '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv':
    !cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv'
    !echo $path
 
elif path == '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv':
    !cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv'
    !echo $path
 
elif path == '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv':
    !cp  tmp.csv '/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv'
    !echo $path
 
_df = pd.read_csv(path)
_df.head(5)

/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv

   id  ans_1  ans_1_date  check  ...  ans_2_date  check_date  ans_3  ans_3_date
0   1    1.0  2020/11/03    1.0  ...  2020/12/19  2020/12/19    1.0  2021/01/06
1   2    0.0  2020/11/03    1.0  ...  2020/12/19  2020/12/19    0.0  2021/01/06
2   3    1.0  2020/11/03    0.0  ...  2020/12/19         NaN    1.0  2021/01/06
3   4    0.0  2020/11/03    0.0  ...  2020/12/19         NaN    1.0  2021/01/06
4   5    1.0  2020/11/03    1.0  ...  2020/12/19  2020/12/19    1.0  2021/01/06

[5 rows x 11 columns]

# 統計

## 正答率

In [ ]:
# tag別正答率(ans_1)
df_tmp_1 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv')
df_tmp_2 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv')
df_tmp_3 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv')
df_tmp = pd.concat([df_tmp_1,df_tmp_2,df_tmp_3])
print('{}{}{}{}'.format(' '*10,'一回目'+' '*4,'二回目'+' '*4,'三回目'))
print('='* 40)
print('{}{:5}%    {:5}%    {:5}%'.format('全体'+' '*6,
                       round(df_tmp.ans_1.mean()*100,2),
                       round(df_tmp.ans_2.mean()*100,2),
                       round(df_tmp.ans_3.mean()*100,2)))
print('='*40)
tag_list = ['A','B','生命現象','個体反応','病態',
            '血液','神経','皮膚','運動器','循環器','呼吸器','消化器','腎','生殖器','妊娠','乳房',
            '内分泌' ,'眼' ,'耳鼻咽喉','精神',
            '感染症','腫瘍','免疫','物理化学','成長発達','加齢老化','人の死',
            '症候病態','診療知識','診療技法']
mean_list_ans_1 = list()
mean_list_ans_2 = list()
mean_list_ans_3 = list()
for i in range(len(tag_list)):
    mean_list_ans_1.append(df_tmp[df_tmp.tag == tag_list[i]].ans_1.mean())
    mean_list_ans_2.append(df_tmp[df_tmp.tag == tag_list[i]].ans_2.mean())
    mean_list_ans_3.append(df_tmp[df_tmp.tag == tag_list[i]].ans_3.mean())
    name = tag_list[i]
    for ii in range(5-len(name)):
        name += ' '*2
    print('{}{:5}%    {:5}%    {:5}%'.format(name,
                                    round(mean_list_ans_1[i]*100,2),
                                    round(mean_list_ans_2[i]*100,2),
                                    round(mean_list_ans_3[i]*100,2)))

          一回目    二回目    三回目
========================================
全体      66.33%    80.24%    87.84%
========================================
A        81.48%    97.53%      nan%
B        68.03%    90.16%      nan%
生命現象  61.93%    80.36%    80.97%
個体反応   56.7%    81.44%    82.47%
病態      72.58%    88.71%    90.32%
血液      51.85%    75.93%    90.74%
神経      71.07%    75.47%    84.28%
皮膚      76.67%    81.67%    86.67%
運動器    54.05%    71.62%    87.84%
循環器    66.09%    79.13%     88.7%
呼吸器    70.42%    80.28%    85.92%
消化器    67.23%    76.47%    88.24%
腎         72.6%    80.82%    92.11%
生殖器    70.15%     80.6%      nan%
妊娠      67.92%    77.36%      nan%
乳房      55.56%    77.78%      nan%
内分泌    71.64%    82.09%    89.55%
眼        59.26%    68.52%    90.74%
耳鼻咽喉  70.18%    85.96%    91.23%
精神       82.5%     85.0%     95.0%
感染症    63.04%    69.57%    85.87%
腫瘍      73.68%    71.05%    94.74%
免疫      65.12%    74.42%    95.35%
物理化学  57.14%    78.57%    89.29%
成長発達  68.63%    86.27%    96.08%
加齢老化  56.25%     62.5%     87.5%
人の死    86.96%    82.61%    95.65%
症候病態  73.02%    84.13%    98.41%
診療知識  60.33%    77.72%    90.22%
診療技法  76.79%    91.07%    98.21%

In [ ]:
# category
import numpy as np

df_tmp_1 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv')
df_tmp_2 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv')
df_tmp_3 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv')
df_tmp = pd.concat([df_tmp_1,df_tmp_2,df_tmp_3])
print('{}{}{}{}'.format(' '*10,'一回目'+' '*4,'二回目'+' '*4,'三回目'))
print('='* 40)
print('{}{:5}%    {:5}%    {:5}%'.format('全体'+' '*6,
                       round(df_tmp.ans_1.mean()*100,2),
                       round(df_tmp.ans_2.mean()*100,2),
                       round(df_tmp.ans_3.mean()*100,2),
                       ))
print('='*40)
cate_list = ['A','B','C','D','E','F']
mean_list_ans_1 = list()
mean_list_ans_2 = list()
mean_list_ans_3 = list()

for i in range(len(cate_list)):
    mean_list_ans_1.append(df_tmp[df_tmp.category == cate_list[i]].ans_1.mean())
    mean_list_ans_2.append(df_tmp[df_tmp.category == cate_list[i]].ans_2.mean())
    mean_list_ans_3.append(df_tmp[df_tmp.category == cate_list[i]].ans_3.mean())
    name = cate_list[i]
    for ii in range(5-len(name)):
        name += ' '*2
    print('{}{:5}%    {:5}%    {:5}%'.format(name,
                                    round(mean_list_ans_1[i]*100,2),
                                    round(mean_list_ans_2[i]*100,2),
                                    round(mean_list_ans_3[i]*100,2)))

a = list()
for mean_list in [mean_list_ans_1,mean_list_ans_2,mean_list_ans_3]:
    A_score = mean_list[0]
    B_score = mean_list[1]
    C_score = mean_list[2]
    D_score = mean_list[3]
    E_score = mean_list[4]
    rate_cnt = 0
    score_cnt = 0
    for score,rate in zip([A_score,B_score,C_score,D_score,E_score],[0.04,0.08,0.21,0.38,0.21,0.08]):
        if np.isnan(score):
            pass
        else:
            rate_cnt += rate
            score_cnt += score*rate
    score_cnt = score_cnt/rate_cnt
    a.append(score_cnt)
print('='* 40)
name = 'pred'
for ii in range(9-len(name)):
    name += ' '

print('{}{:5}%    {:5}%    {:5}%'.format(name,
                                         round(a[0]*100,2),
                                         round(a[1]*100,2),
                                         round(a[2]*100,2)))
#print('{}{:5}%    {:5}%'.format('pred'+' '*5,
#                                round(mean_list_ans_1[i]*100,2),
#                                round(mean_list_ans_2[i]*100,2)))

          一回目    二回目    三回目
========================================
全体      66.33%    80.24%    87.84%
========================================
A        81.48%    97.53%      nan%
B        68.03%    90.16%      nan%
C        61.33%     81.6%    82.45%
D        67.72%    78.17%    88.33%
E        66.67%    74.91%    91.41%
F        66.01%    81.52%     93.4%
========================================
pred     66.64%    80.09%    87.59%

## 回答数

In [ ]:
# 回答問題数(日別)
df_tmp_1 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol1.csv')
df_tmp_2 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol2.csv')
df_tmp_3 = pd.read_csv('/content/gdrive/My Drive/cbt/qb_cbt_2016_vol3.csv')
 
df_tmp = pd.concat([df_tmp_1,df_tmp_2,df_tmp_3])
df_date = pd.concat([df_tmp.ans_1_date,df_tmp.ans_2_date,df_tmp.ans_3_date],ignore_index=True)
 
print_sum =  df_date.value_counts().sum()
print_mean = df_date.value_counts().mean()
print('平均{}問'.format(round(print_mean,2)))
print('合計{}問'.format(print_sum))
print('='*20)
df_date.value_counts().sort_index(ascending=False).head(10)

平均140.38問
合計7019問
====================

2021/01/08    431
2021/01/07    388
2021/01/06    330
2021/01/05    331
2021/01/04    303
2021/01/03    275
2021/01/02    113
2021/01/01    121
2020/12/30    203
2020/12/29    240
dtype: int64

In [ ]:
#やった日数
_df = pd.DataFrame()
_df['date_count'] = df_date
func = lambda x:x[:7]
_df.loc[df_date.notna().index,'month'] = df_date[df_date.notna()].apply(func)
a = _df.month.value_counts().sort_index(ascending=False)
df_view = _df.groupby('month').nunique().sort_index(ascending=False)
df_view['question_count'] = a.values
df_view

         date_count  question_count
month
2021/01           8            2135
2020/12          25            3244
2020/11          17            1483

In [ ]:
# Google Drive・Google Colaboratoryで作業する場合
# Google Driveからcolaboratoryにファイルをダウンロード
# ダウンロードしたファイルはランタイムが終了すると削除されます
from google_drive_downloader import GoogleDriveDownloader as GDD
d = {'./train.csv':'11nEVRrORGuHSnKJyRLnTPZ73KOBETdTB',
     './test.csv':'1kV5HxO16apYLpkcBa2wD8_c8vPTRkJbh',
     './stores.csv':'1vPoI_98SXmxBum1V0V_YLuI7YbS8EnFc',
     './sample_submission.csv':'16WUhqYQ900nyNCxhLZVGW9l6_QXflkdv',
     './goods.csv':'1F__1g2FDofgK_8fJvg9yh1HH2jiNQdgL',
     './genres.csv':'1Jfe7HKiQ3uhXOZSacU1sbLGw3nAU-wqA'}
for k, v in d.items():
    GDD.download_file_from_google_drive(file_id=v,
                                        dest_path=k,
                                        unzip=False)

df_train = pd.read_csv('train.csv', sep=',')
df_test = pd.read_csv('test.csv', sep=',')
df_stores = pd.read_csv('stores.csv', sep=',')
df_sample_submission = pd.read_csv('sample_submission.csv', sep=',')
df_goods = pd.read_csv('goods.csv', sep=',')
df_genres = pd.read_csv('genres.csv', sep=',')
#tmp = pd.read_csv('/content/gdrive/My Drive/compe3_submission_20201231.csv')

In [ ]:
exist_goods_in_train = set(df_train.goods_id)
only_goods_in_test = set(df_test.goods_id) - exist_goods_in_train
goods_in_train_and_test = set(df_test.goods_id) & exist_goods_in_train
goods = df_train[(df_train.num_month.isin([-1,-2,-3]))&
                 (df_train.units_sold_day>0)]

In [ ]:
df_train[(df_train.goods_id.isin(goods_in_train_and_test))]

In [ ]:
df_sample_submission.head(5)

   index  units_sold_month
0      0               0.5
1      1               0.5
2      2               0.5
3      3               0.5
4      4               0.5

In [ ]:
list_of_test_path= ['/content/gdrive/MyDrive/tmp/compe3_submission.csv',
                    '/content/gdrive/MyDrive/tmp/sub.csv',
                    '/content/gdrive/MyDrive/compe3_submission_20201231.csv']
index_set = set()
for path in list_of_test_path:
    tmp = pd.read_csv(path)
    index = tmp[tmp.units_sold_month.notnull()].index
    print(len(index_set))
    print(len(index))
    index_set = index_set | set(index)
    print(len(index_set))
    df_sample_submission.loc[index,'units_sold_month'] = tmp.loc[index,'units_sold_month'].values
    print(df_sample_submission.isnull().sum())

0
66296
66296
index               0
units_sold_month    0
dtype: int64
66296
56096
122392
index               0
units_sold_month    0
dtype: int64
122392
93443
214192
index               0
units_sold_month    0
dtype: int64

In [ ]:
df_models = pd.read_csv('submission(19).csv')
print(df_models.shape)
print(df_models[df_models.units_sold_month==0].shape)
df_sample_submission.units_sold_month = df_models.units_sold_month.values

(214200, 2)
(0, 2)

In [ ]:
df_sample_submission[df_sample_submission.units_sold_month>3]

         index  units_sold_month
301        301          6.493114
310        310          6.199398
361        361          5.389277
365        365          6.669894
469        469          6.214984
...        ...               ...
213340  213340          3.117531
213359  213359          6.573581
213372  213372          5.950800
213596  213596          4.070992
213686  213686          7.738958

[2754 rows x 2 columns]

In [ ]:
df_sample_submission.head(10)

   index  units_sold_month
0      0          1.380341
1      1          1.190892
2      2          1.010458
3      3          1.139219
4      4          1.460178
5      5          1.095779
6      6          1.203593
7      7          1.216402
8      8          1.152264
9      9          1.260459

In [ ]:
# Google Drive・Google Colaboratoryで作業する場合
from google.colab import files
# colaboratory上に保存
# 保存したcsvファイルはランタイムが終了すると削除されます
df_sample_submission.to_csv('submission.csv', index=False)
# colaboratory上に保存したcsvファイルをローカルに保存
files.download('submission.csv')